* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 20%;
    padding: 2em;
    height: 14vh;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

nav img {
    height: 20px;
}

nav img + img{
    border-radius: 50%;
    height: 25px !important;
}

main {
    width: 50%;
    margin: auto ;
    text-align: center;
    height: 65vh;
}

main .search-container {
    position: relative;
}

main input {
    width: 80%;
    padding: 1em 1em 1em 3.2em;
    border-radius: 35px;
    border: 1px solid gray;
    outline: none;
    box-shadow: -3px 0px 48px -10px rgba(199,190,190,0.75);
    -webkit-box-shadow: -3px 0px 48px -10px rgba(199,190,190,0.75);
    -moz-box-shadow: -3px 0px 48px -10px rgba(199,190,190,0.75);
    
}

main input::placeholder {
    font-size: 1.2rem;
}

main input:focus {
 border-color: gray;
}

main .search-icon {
    position: absolute;
    top: 30%;
    left: 12%;
    width: 15px;
}

main .microphone-icon {
    position: absolute;
    top: 30%;
    right: 14%;
    width: 15px;
}

main .main-btn {
   margin-top: 1em;
}

.main-btn button {
    padding: 1em;
    border: none;
}

.main-btn button:hover {
    border: none;

}

footer {
    background-color: rgb(240, 236, 236);
}

footer .footer-top {
    padding: 1em;
}

footer .footer-bottom {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}

.footer-bottom .left a,
.footer-bottom .right a{
    margin-right: 1em;
} 
